*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Marriweather', sans-serif;
}
.all-content{
    background: #8f9b73;   
}
html::-webkit-scrollbar-thumb{
    background: #b2744c;
    border-radius: 10px;
}
html::-webkit-scrollbar{
    width: 10px;
}
html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 10px;
}
.home #navbar{
    font-family: 'Roboto', sans-serif;
}
#logo img{
    border-radius: 10px;
    width: 160px;
    margin-left: 40px;
}
.navbar-nav{
    margin-left: 50px;
}
.nav-item .nav-link{
    color: black;
    margin-left: 10px;
    font-weight: bold;
    transition: 5px;
}
.nav-item .nav-link:hover{
    background: #f7f5f2;
    color: black;
    border-radius: 5px;
}
#navbar form button{
    background: black;
    color: white;
    border: 1px solid white;
}


/* Home Content */ 
#home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../IMG/b_g_iU.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    font-family: 'Roboto', sans-serif;
}
.content{
    padding-top: 210px;
    margin-left: 56px;
}
.content h3{
    font-size: 50px;
    color: white;
}
.content h4{
    margin-top: 10px;
    color: white;
}
#btn{
    width: 150px;
    height: 36px;
    margin-top: 20px;
    background: #f7f5f2;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn:hover{
    background: #b2744c;
    color: white;
}

/* About */

#about{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    background: #f7f5f2;
    font-family: 'Rotobo', sans-serif;
}
#about .content{
    padding-top: 70px;
}

.heading{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    color: black;
    font-weight: bold;
}
.heading span{
    background: #8f9b73;
}
#about .card{
    border-radius: 10px;
}
#about .card img{
    border-radius: 10px;
}
#about-btn{
    width: 200px;
    height: 36px;
    background: transparent;
    border: 2px solid #8f9b73;;
    color: #8f9b73;;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}
#about-btn:hover{
    background: #8f9b73;;
    color: white;
}
@media screen and (max-width:982px){
    #about p{
        font-size: 8px;
    }
}
@media screen and (max-width:766px){
    #about{
        height: 120vh;
    }
}

/* Top Cards */

.top-cards{
    margin-top: 200px;
    width: 100%;
    height: 60vh;
    background: #f7f5f2;
    font-family: 'Rotobo', sans-serif;
}
.heading2{
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.heading2 span{
    color: #8f9b73;;
}
.top-cards .container{
    margin-top: 30px;
}
.top-cards .card{
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.top-cards .card img{
    border-radius: 10px;
}
.top-cards .card:hover{
    transform: translateY(-10px);
}
@media screen and (max-width:767px){
   .top-cards{
    height: 170px;
   }
}
@media screen and (max-width:500px){
    .top-cards{
        height: 150px;
    }
}
@media screen and (max-width:500px){
    .top-cards{
        height: 120px;
    }
}

/* Menu */

.menu{
    width: 100%;
    background: #f7f5f2;
    font-family: 'Rotobo', sans-serif;
}
.heading3{
    text-align: center;
    font-size: 30px;
    color: #8f9b73;
    font-weight: bold;
    border-bottom: 2px solid#8f9b73;
}
#container2{
    margin-top: 20px;
}
.menu .card{
    background: #f7f5f2;
    box-shadow: rgb(118, 115, 115) 0px 8px 24px;
}
.menu .card img{
    transform: scale(1);
}
.menu .card img:hover{
    transform: scale(1.05);
}
.menu h3{
    color: black;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}
.menu p{
    font-size: 16px;
    color: black;
    padding-top: 10px;
}
.menu p span{
    float: right;
    cursor: pointer;
}

/* Product */

.product{
    width: 100%;
    background: #f7f5f2;
    font-family: 'Roboto', sans-serif;
}
.heading4{
    text-align: center;
    color:#8f9b73;
    font-size: 30px;
    padding-top: 70px;
    font-weight: bold;
    border-bottom: 2px solid #8f9b73;
}
#container3{
    margin-top: 30px;
}
.product h3{
    text-align: center;
    color: black;
    font-size: 23px;
}
.product p{
    color:black;
    padding-top: 10px;
}
.product p span i{
    float: right;
    cursor: pointer;
}

/* Gallery */

#gallery{
    width: 100%;
}
#gallery h1{
    text-align: center;
    color: black;
    margin-top: 60px;
    font-weight: bold;
}
#gallery h1 span{
    color: #8f9b73;
}
#gallery .card{
    border-radius: 10px;
}
#gallery .card img{
    border-radius: 10px;
    cursor: pointer;
}

/* Contact */

.contact{
    width: 100%;
    height: 100vh;
    background: #f7f5f2;
    padding-top: 70px;
}
.contact .container{
    width: 100%;
    height: 80vh;
    background: #f7f5f2;
    background: linear-gradient(90deg,white 80%,#8f9b73 20%);
    border-radius: 10px;
}
.heading6{
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
}
.heading6 span{
    color: #8f9b73;
}
.contact p{
    font-weight: bold;
    font-size: 13px;
    color: black;
}
.contact input{
    width: 360px;
    border: none;
    border-bottom: 1px solid;
}
#contact-btn{
    width: 200px;
    height: 36px;
    border: none;
    background: #8f9b73;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}
#col{
    width: 40%;
    height: 56vh;
    background: black;
    margin-top: 78px;
}
.contact h1{
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}
.contact #col p{
    font-size: 15px;
    color: white;
    margin-left: 13px;
    padding-top: 10px;
}

@media screen and (max-width:766px){
    .contact .container{
        background: #f7f5f2;
    }
    #col{
        width: 100%;
        background:#8f9b73;
    }
    .contact{
        height: 150vh;
    }
}
@media screen and (max-width:400px){
    .contact input{
        width: 250px;
    }
}



/* footer */

#footer{
    width: 100%;
    background: #8f9b73;
    margin-top: 50px;
}

#footer .socail-link i{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.credite{
    color: white;
    margin-top: 20px;
}
.credite{
    text-shadow: 0px 0px 1px black;
}
.credite a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.credite a span{
    color: black;
}
.copyright span{
    color: black;
}


.arrow{
    position: fixed;
    border-radius: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}
